/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





// END RESET OF CSS







body{
    width: 100%;
    header{
        width: 100%;
        height: 1006px;
        background: url('../img/background/header-background.jpeg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;

        .navAfterClickHamburger{
            position: fixed;
            background-color: rgba(#000000, 0.5);
            display: none;
            align-items: center;
            justify-content: center;
            height: 650px;
            width: 100px;
            top: 0;
            right: 0;
            z-index: 20;

            .navAfterClickHamburger--exit{
                color: white;
                position: absolute;
                left: 40px;
                top: 15px;
                color: #ffffff;
                
                font-size: 25px;
                font-family: 'Sanchez', italic;
                cursor: pointer;

                &:hover{
                    color: #f5c16c;
                }
            }

            ul{
                
                li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    margin: 65px 0;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &:hover{
                            color: #f5c16c;
                        }

                        img{
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .backToUpArrow{
            display: none;
            position: fixed;
            bottom: 25px;
            right: 25px;
            z-index: 15;
            transition: 0.5s;

            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }

        .header__navigation{
            background-color: rgba(black,0.5);
            color: white;
            display: flex;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 70px;
            cursor: pointer;
            width: 75%;
            z-index: 1;
            
            height: 100px;
            align-items: center;

            .navigation__hamburger{
                display: none;
                margin-right: 25px;
                margin-left: 25px;
                
                
            }

            .navigation__logo{
                width: 100px;
                height: 100px;
                margin-left: 25px;
                margin-right: 25px;
            }

            .navigation__company-name{
                color: #f5c16c;
                text-transform: uppercase;
                font-family: 'Cabin Condensed', sans-serif;
                cursor: default;


                font-weight: 400;


                font-weight: 200;
                font-size: 20px;
                text-align: center;
                
            }

            

            

            .navigation__item-list{
                display: flex;
                justify-content: flex-end;
                width: 70%;
                
                margin: 0 auto;
                
                

                .navigation__item{
                    margin: 0 25px;
                    text-transform: uppercase;
                    font-family: 'Cabin Condensed', sans-serif;
                    font-size: 18px;

                    a{
                        text-decoration: none;
                        color: #f5c16c;

                        &:hover{
                            color: #df8931;
                            transition: 0.2s;
                        }
                    }

                    
                }
            }

            @media only screen and (max-width: 1214px){
                .navigation__item-list{
                    display: none;
                }
                .navigation__hamburger{
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 15px;
                    width: 100%;
                    margin: 0 auto;
                }
                .navigation__company-name{
                    display: none;
                }
            }

            
        }

        .header__title{
            
            background-color: rgba(#000000, 0.5);
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
            margin-bottom: 85px;
            
            
            
            .header__title--welcome{
                margin: 60px auto;
                margin-bottom: 0;
                text-align: center;
                width: 99%;
                cursor: default;
                color: #f5c16c;
                font-size: 35px;
                font-family: 'Sanchez', italic;
                text-transform: uppercase;
            }

            .header__title--logo img{
                width: 400px;
                display: flex;
                margin: 0 auto;

        }

        @media only screen and(max-width: 425px){
            .header__title--logo img{
                width: 250px;
            }
        }

            .header__title--button button {
                background-color: transparent;
                font-size: 25px;
                border: solid #f5c16c 1px;
                cursor: pointer;
                padding: 0px 25px;
                margin-bottom: 25px;
                transition: 0.2s;
                color: #f5c16c;
                font-family: 'Sanchez', italic;

                &:hover{
                    transition: 0.5s ease-in-out;
                    background-color: #f5c16c;
                    color: #aa530e;
                }
            }

            
        }
    }

    .aboutUs{
        background-color: #000000;
        color: white;
        z-index: 10;
        border-top: #f5c16c solid 0.1px;
        border-bottom: #f5c16c solid 0.1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        
        
        
        .aboutUs__cock img{
            width: 100%;
            padding-top: 0px;
        }

        .aboutUs__text{
            width: 50%;
            

            h1{
                
                margin-bottom: 25px;
                font-family: 'Sanchez', italic;
                font-size: 30px;
                margin-top: 45px;
                width: 110px;
            }

            p{
                width: 50%;
                letter-spacing: 1px;
                line-height: 15px;
            }

            .aboutUs__button{
                margin-top: 25px;
                margin-bottom: 5px;
                background-color: transparent;
                border: solid #f5c16c 1px;
                font-family: 'Sanchez', italic;
                color: #f5c16c;
                padding: 5px 25px;
                font-size: 20px;
                transition: 1s ease;
                cursor: pointer;
                

                &:hover{
                    background-color: #f5c16c;
                    color: #aa530e;
                }
            }

            @media only screen and(max-width:730px) {

                

                h1{
                    width: 100%;
                }
                p{
                    width: 150px;
                    margin-right: 10px;
                }

                .aboutUs__button{
                    text-align: center;
                }

            }

            
        }

        .aboutUs__lampions{
            position: absolute;
            top: -45px;
            right: 120px;
            opacity: 0.25;
            z-index: -1;

            img{
                z-index: 20;
                width: 230px;
            }

            @media screen and(max-width: 730px) {
                display: none;
            }
        }

        
    }

    .menu{
        height: auto;
        width: 100%;
        background-color: #303030;
        border-bottom: #f5c16c solid 0.1px;

        .menu__content{
            width: 100%;
            height: 650px;
            background: url('../img/background/background-food.png');
            display: flex;
            
            flex-direction: row;
            
            
            .menu__mainText{
                
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: 41%;
                border-right: #f5c16c solid 1px;
                height: 100%;
                margin: auto 0;
                color: #f5c16c;
                cursor: default;

                h1{
                    font-size: 45px;
                }

                p{
                    color: gray;
                    font-size: 12px;
                    text-align: right;
                    margin-top: 10px;
                    margin-right: 10px;
                    width: 350px;
                }

                span{
                    font-size: 45px;
                    text-align: right;
                }
            }

            .menu__food{
                display: flex;
                flex-wrap: wrap;
                background-color: rgba(#000000, 0.5);
                width: 100%;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                flex-direction: column;

                .menu__foodRow{
                    display: flex;
                    
                    
                    .food{
                        width: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 120px;
                        color: #f5c16c;
                        cursor: pointer;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 45px;
                        }

                        span{
                            text-align: center;
                            width: 100px;
                        }
                    }
                }

                .menu__foodRow--one{
                    border-bottom: solid rgba(#f5c16c,0.2) 1px;

                    .foodMargin--left{
                        border-right: solid rgba(#f5c16c,0.2) 1px;
                        border-left: solid rgba(#f5c16c,0.2) 1px;
                        margin-left: 45px;
                        padding-left: 45px;
                        padding-right: 45px;
                    }

                    .foodMargin--right{
                        border-right: solid rgba(#f5c16c,0.2) 1px;
                        margin-right: 45px;
                        padding-left: 45px;
                        padding-right: 45px;
                    }

                    .food{
                        margin-bottom: 25px;
                    }
                    
                }

                .menu__foodRow--two{

                    .foodMargin--left{
                        border-right: solid rgba(#f5c16c,0.2) 1px;
                        border-left: solid rgba(#f5c16c,0.2) 1px;
                        margin-left: 45px;
                        padding-left: 45px;
                        padding-right: 45px;
                    }

                    .foodMargin--right{
                        border-right: solid rgba(#f5c16c,0.2) 1px;
                        margin-right: 45px;
                        padding-left: 45px;
                        padding-right: 45px;
                    }

                    .food{
                        margin-top: 25px;
                    }
                }

                
            }

            @media only screen and(max-width:1065px){

                .menu__food{

                    .foodMenu--header{
                        display: flex;
                    }
                }
                .menu__mainText{
                    display: none;
                }
            }

            @media only screen and(max-width:750px){

                .menu__food{

                    .foodMenu--header{
                        text-align: center;
                        font-size: 40px;
                    }

                    .menu__foodRow--one{
                        display: flex;
                        flex-direction: column;
                        border: none;

                        .food{
                            border: none;
                            margin: 0;
                            padding: 0;

                            margin-bottom: 25px;
                        }

                        
                    }
    
                    .menu__foodRow--two{
                        display: flex;
                        flex-direction: column;
                        border: none;

                        .food{
                            border: none;
                            margin: 0;
                            padding: 0;

                            margin-bottom: 25px;
                        }
                        
                    }
                }
                
            }

        }
      
    }

    .gallery{
        font-family: 'Sanchez', italic;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;

        .gallery__goldFlowers{
            position: absolute;
            top: -25px;
            z-index: 0;
            opacity: 0.3;
            transform: rotate(20deg);
            left: -65px;
            width: 400px;
            height: 400px;

        }

        .gallery__lampions{
            position: absolute;
            top: 0;
            right: 0px;
            z-index: -1;
            opacity: 0.2;
        }

       

        h1{
            color: #f5c16c;
            font-size: 40px;
            margin-top: 125px;
            margin-bottom: 45px;
            cursor: default;
        }

        .slider{
            margin-top: 125px;
            top: -65px;
            position: relative;
            margin-bottom: 35px;
        }

        button{
            margin-bottom: 125px;
            background-color: transparent;
            font-size: 25px;
            border: solid #f5c16c 1px;
            cursor: pointer;
            padding: 0px 25px;

            transition: 0.2s;
            color: #f5c16c;
            font-family: 'Suranna', serif;

            &:hover{
                background-color: #f5c16c;
                color: #aa530e;
                cursor: pointer;
            }
        }

        @media only screen and(max-width:1065px){
            .gallery__goldFlowers{
                display: none;
            }
        }


    }

    footer{
        border-top: #f5c16c solid 0.1px;
        background-color: rgba(#000000, 1);
        
        
        .footer__background{
            background: url('../img/background/footer-background.png');
            width: 100%;
            background-position: center;
            background-size: cover;
            height: 650px;
            display: flex;
            justify-content: space-between;
            align-content: center;

            .restaurantContact{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(#000000, 0.5);

                h1{
                    color: #f5c16c;
                    font-size: 45px;
                    margin-bottom: 15px;
                    text-align: center;
                    cursor: default;
                }
            

            .restaurantContact--item{
                display: flex;
                margin: 15px;
                flex-direction: row;
                align-items: center;
                color: #f5c16c;
                cursor: default;

                    img{
                        width: 25px;
                        margin-right: 15px;
                    }

                    span{
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }

            #map{
                border-radius: 45px;
                width: 50%;
                margin: 65px;
                height: 80%;
            }

        }

        @media only screen and(max-width: 954px){

            .footer__background{
                .restaurantContact{
                    width: 100%;
                }
    
                #map{
                    display: none;
                    visibility: hidden;
                    overflow: hidden;
    
                }
            }
        }
    }

    
}